.slideshow-container{
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   max-width: 100%;
}

.img-slideshow{
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   max-width: 100%;
   animation: zoomIn 8s ease;
}

@keyframes zoomIn {
   from {
      transform: scale(1);
   }
   to{
      transform: scale(1.2);
   }
}